.message-form {
	display: flex;
	flex-direction: column;

	&__label {
		margin-bottom: 3px;
		margin-top: 8px;

		@media (min-width: 1280px) {
			margin-bottom: 7px;
			margin-top: 21px;
		}
	}

	&__name-label {
		margin-top: 0px;
	}

	&__input {
		border: 1px solid #8e9993;
		background: #fff;
		color: rgba(0, 0, 0, 0.51);
		font-family: $prata;
		padding: 6px;

		@media (min-width: 1280px) {
			padding: 10px;
			height: 41px;
		}

		&:focus {
			color: #000;
			border: 1px solid #8e9993;
			outline: none;
		}

		&:focus::placeholder {
			color: transparent;
		}

		&:valid {
			border: 1px solid #227d4c;
		}

		&.user-invalid {
			border: 1px solid #f90000;
		}
	}

	&__textarea-input {
		height: 81px;

		@media (min-width: 1280px) {
			height: 152px;
		}
	}

	&__submit {
		cursor: pointer;
		background-color: #6a7571;
		border: none;
		color: #fff;
		font-family: $prata;
		margin-top: 25px;
		padding: 6px;
		line-height: 17px;

		@media (min-width: 1280px) {
			width: 50%;
			align-self: flex-end;
			height: 56px;
			margin-top: 38px;
		}

		&:hover {
			background-color: #48544f;
			color: #ffffff82;
		}

		&:active {
			background-color: #55605c;
			color: #ffffff82;
		}

		&:disabled {
			background-color: #8e999366;
			color: #ffffff82;
		}
	}
}
