@use '../../common/extends/--fonts.scss';

.price-list-item {
	@media (min-width: 1280px) {
		display: flex;
	}

	&__info {
		margin-bottom: 10px;

		@media (min-width: 1280px) {
			width: 85%;
			padding-right: 20px;
			margin-bottom: 0px;
		}
	}

	&__name {
		@extend %--font-size_14-23;
		@extend %--letter-spacing_091-1495;
		margin-bottom: 10px;

		@media (min-width: 1280px) {
			margin-bottom: 18px;
		}
	}

	&__description {
		@extend %--font-size_12-18;
		@extend %--letter-spacing_12-18;
		color: rgba(0, 0, 0, 0.8);
	}

	&__price {
		@extend %--font-size_16-23;
		@extend %--letter-spacing_104-1495;
		text-align: center;

		@media (min-width: 1280px) {
			width: 15%;
			text-align: start;
		}
	}
}
