@use '../../common/extends/--fonts.scss';

.logo {
	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__title {
		@extend %--font-size_11-13;
		@extend %--letter-spacing_11-13;
		line-height: 15px;
		color: rgba(0, 0, 0, 0.8);
	}

	svg {
		width: 37px;
		height: 29px;

		@media (min-width: 1280px) {
			width: 62.16px;
			height: 48px;
		}
	}
}
