.video {
	display: flex;
	position: relative;

	@media (min-width: 1280px) {
		margin-bottom: 32px;
	}

	&__absolute-content {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: calc(50% - 20px);

		@media (min-width: 1280px) {
			top: calc(50% - 30px);
		}
	}

	&__play {
		display: flex;

		svg {
			width: 24px;
			height: 25px;

			@media (min-width: 1280px) {
				width: 38px;
				height: 38px;
			}
		}
	}

	&__title {
		color: #fff;
	}

	&__decoration-pic {
		display: flex;
		margin-top: 5px;

		svg {
			width: 41px;
			height: 19px;

			@media (min-width: 1280px) {
				width: 65px;
				height: 30px;
			}
		}
	}

	&__pic {
		display: flex;
		width: 100%;
	}
}
