.review-card {
	&__text {
		text-align: center;
		font-size: 10px;
		letter-spacing: 1px;
		margin-bottom: 8px;

		@media (min-width: 1280px) {
			font-size: 30px;
			letter-spacing: 3px;
			margin-bottom: 36px;
			max-height: 122.4px;
		}
	}

	&__author {
		text-align: center;
		font-family: $open-sans;
		font-size: 11px;
		letter-spacing: 1.1px;

		@media (min-width: 1280px) {
			font-size: 22px;
			letter-spacing: 2.2px;
		}
	}
}
