@use '../../common/extends/--fonts.scss';

.message {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 22px 16px 18px 0px;
	background-image: url('../img/message.jpg');
	background-size: auto 100%;
	background-position-x: 72%;
	background-repeat: no-repeat;

	@media (min-width: 1280px) {
		padding: 107px 90px 38px 0px;
		background-position-x: 0%;
	}

	&__content {
		width: 223px;

		@media (min-width: 1280px) {
			width: 33.614%;
		}
	}

	&__title {
		@extend %--font-size_10-16;
		@extend %--letter-spacing_04-064;
		text-align: center;

		@media (min-width: 1280px) {
			padding: 0px 30px 20px;
		}
	}
}
