@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Prata&display=swap');

// fonts
$prata: 'Prata', serif;
$open-sans: 'Open Sans', sans-serif;

// mixins
@mixin arrow-boilerplate {
	display: block;
	width: 22px;
	height: 49px;
	border: none;
	background-image: none;
	background-color: #000000;
	transition: background-color 0.2s;

	&:hover {
		background-color: rgba(88, 98, 93, 0.8);
	}
	&:active {
		background-color: #48544f;
	}
	&:focus {
		background-color: #48544f;
	}
}

@mixin arrow-left {
	@include arrow-boilerplate;
	mask: url('../img/arrow-left.svg');
	-webkit-mask: url('../img/arrow-left.svg');
}

@mixin arrow-right {
	@include arrow-boilerplate;
	mask: url('../img/arrow-right.svg');
	-webkit-mask: url('../img/arrow-right.svg');
}

@mixin arrow-sm-boilerplate {
	display: block;
	height: 14px;
	width: 28px;
	border: none;
	background-image: none;

	background-color: #000000;
	transition: background-color 0.2s;

	&:hover {
		background-color: #6a7571;
	}
	&:active {
		background-color: #55605c;
	}
	&:focus {
		background-color: #55605c;
	}
}

@mixin arrow-left-sm {
	@include arrow-sm-boilerplate;
	mask: url('../img/arrow-left-sm.svg');
	-webkit-mask: url('../img/arrow-left-sm.svg');
}

@mixin arrow-right-sm {
	@include arrow-sm-boilerplate;
	mask: url('../img/arrow-right-sm.svg');
	-webkit-mask: url('../img/arrow-right-sm.svg');
}
